*{
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Oswald', sans-serif;
    
}
a{
    text-decoration: none;
    color: #000;
}
header{
    background-color:#BCB8B1;
    color: #000;
    height: 4.375em;
    text-align: end;
    position: fixed;
    width: 100%;
}
li{
    text-transform: uppercase;
    display: inline;
    padding: 0.9375em;
    font-size: large;
    margin: 0.625em;
}
li:hover{
    color:white;
}
ul{
    padding-top: 0.9375em;
    padding:1.25em;
}

/**primer section**/
.primera{
    background-color: #F4F3EE;
    display: flex;
    justify-content: center;
    padding: 3.125em;
}

.presentacion{
    padding:1.875em;
    width: 40%;
    margin-top: 2.5em;
    align-self: center;
}
.hola{
    font-weight:bold;
    font-size: 2.5em;
}
.mel{
    font-weight: bolder;
    font-size: 4.375em;
    color: #E0AFA0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p{
    font-size: 1.5625em;
}
.boton{
    text-transform: uppercase;
    background-color: #E0AFA0;
    border-radius: 1.25em;
    padding: 0.9375em 3.75em;
    text-align: center;
}
.boton:hover{
    background-color: #F0D8D1;
}
.imagen-1{
    display: flex;
    width: 40%;
    margin-top: 1.875em;
    padding: 1.875em;
}
.imagen-1 img{
    width: 100%;
}
.buttom{
    text-transform: uppercase;
    background-color: #E0AFA0;
    border-radius: 1.25em;
    padding: 0.625em 1.25em;    ;
    text-align: center;
}
.buttom:hover{
    background-color: #F0D8D1;
}
/*fin primer section**/


/**segunda section**/
.segunda{
    background-color: #8A817C;
    padding: 6.25em;
    text-align: center;
    font-size: 1.25em;
}
.grilla{
    display: flex;
    flex-wrap: wrap;
    margin: 3.125em;
    justify-content: center;
    align-items: center;
   /* width: 100%;*/
}
.icon-conocimientos{
    background-color: white;
    width: 13.75em;
    padding: 0.9375em;
    margin: 0.625em;
    border-radius: 0.625em;
    border: 1px solid black;
    align-items: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.icon-conocimientos:hover{
    border: 3px solid #e79981;
    color:#e79981;
}
.icon-conocimientos img{
    width: 50%;
    margin: 0.625em;
}

/**fin segunda section**/
.titulos{
    text-align: center;
    font-size: 3.125em;
}
/**tercer section**/
.tercera{
    background-color: #E0AFA0;
    padding: 3.125em;
    text-align: center;
    font-size: 2.5em;
    align-items: center;
    font-style: italic;
}
/**fin tercer section**/

/**cuarta section**/
.cuarta{
    background-color: #BCB8B1;
    padding: 6.25em;
    text-align: center;
    font-size: 1.25em;
}
.grilla-proyecto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.875em;
}
.icon-proyect{
    background-color: white;
    width: 16.25em;
    padding: 1.25em;
    margin: 0.9375em;
    border-radius: 0.625em;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.icon-proyect:hover{
    border: 3px solid #e79981;
    color:#e79981;
}
.icon-proyect img{
    width: 90%;
    margin:0.625em;
}
/**fin cuarta section**/

/**Inicio Contacto**/
.form-contact{
    background-color: #E0AFA0;
    border: #BCB8B1 1px solid;
    border-radius: 0.3125em;
    display: flex;
    width: 100%;
    justify-content:center;
    align-content: center;
    margin: 3.125em;
    
    
}
.form-contact h1{
    font-size: 2.8125em;
}
.contactme{
    width: 50%;
    margin: 1.5625em;
    padding: 1.25em;
}
.contactme p{
    margin-top: 15px;
    font-size: 1.3em;
}
.contactme a:hover{
    color: white;
}
.writeme{
    width: 45%;
    margin: 1.5625em;
    padding: 1.5625em;
    font-weight: bold;
}
.writeme p{
    font-size: 1.3em;
}
.fab, .far{
    font-size: 1em;
    margin: 0.3125em;
}

.fab:hover, .far:hover{
    width: 2.1875em;
    height: 2.1875em;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.1875em;
    color: black;
    line-height: 2.1875em;
    margin-right: 0.625em;
    text-align: center;
    display: inline-block;
    
}
/*** Fin Contacto - formulario ***/

/*** Footer ***/
footer{
    background-color:#8A817C;
    text-align: center;
    padding: 30px;
}
