*{
    margin: 0;
    padding: 0;
    list-style:none;
    font-family: 'Oswald', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    background-color:#BCB8B1;
    color: #000;
    height: 4.375em;
    text-align: end;
    position: fixed;
    width: 100%;
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.4);
}
nav ul{
    position: relative;
    right: 9.375em;
}
li{
    text-transform: uppercase;
    display: inline;
    padding: 0.9375em;
    font-size: large;
    margin: 0.625em;
}
li:hover, a:hover{
    color:white;
}
ul{
    padding-top: 0.9375em;
    padding:1.25em;
}

/**primer section**/
.primera{
    background-color: #F4F3EE;
    display: flex;
    justify-content: center;
    padding: 7.5em;
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4);
}

.presentacion{
    padding-left: 30px;
    width: 40%;
    margin-top: 2.5em;
    align-self:center;
}
.hola{
    font-weight:bold;
    font-size: 3em;
}
.mel{
    font-weight: bolder;
    font-size: 5em;
    color: #E0AFA0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.boton{
    text-transform: uppercase;
    background-color: #E0AFA0;
    border-radius: 1.25em;
    padding: 0.9375em 3.75em;
    text-align: center;
}
.boton:hover{
    background-color: #F0D8D1;
}
.imagen-1{
    display: flex;
    width: 40%;
    margin-top: 1.875em;
    padding: 1.875em;
    justify-content: center;
}
.imagen-1 img{
    width: 80%;
    margin: 0.3125em;
}
.buttom{
    text-transform: uppercase;
    background-color: #E0AFA0;
    border-radius: 1.25em;
    padding: 0.625em 1.25em;    ;
    text-align: center;
}
.buttom:hover{
    background-color: #F0D8D1;
}
/*fin primer section**/


/**segunda section**/
.segunda{
    background-color: #8A817C;
    padding: 6.25em;
    text-align: center;
    font-size: 1.25em;
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4);
}
.grilla{
    display: flex;
    flex-wrap: wrap;
    margin: 1.125em;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    padding: 1.875em;
}
.icon-conocimientos{
    background-color: white;
    width: 25%;
    padding: 0.75em;
    margin: 0.625em;
    border-radius: 0.625em;
    align-items: center;
    font-weight: bold;
}
.icon-conocimientos:hover{
    border: 1px solid #e79981;
    color:#e79981;
}
.icon-conocimientos img{
    width: 30%;
    margin: 0.625em;
}

/**fin segunda section**/
.titulos{
    text-align: center;
    font-size: 3.125em;
}
/**tercer section**/
.tercera{
    background-color: #E0AFA0;
    padding: 3.125em;
    text-align: center;
    font-size: 2.5em;
    align-items: center;
    font-style: italic;
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4);
}
/**fin tercer section**/

/**cuarta section**/
.cuarta{
    background-color: #BCB8B1;
    padding: 6.25em;
    text-align: center;
    font-size: 1.25em;
    display: flex;
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4);
}
.grilla-proyecto{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1.875em;
    align-content: center;
    padding-left: 7em;

}
.icon-proyect{
    background-color: white;
    width: 25%;
    padding: 0.75em;
    margin: 0.625em;
    border-radius: 0.625em;
    align-items: center;
    font-weight: bold;
}
.icon-proyect:hover{
    border: 1px solid #e79981;
    color:#e79981;
}
.icon-proyect img{
    width: 80%;
    margin:0.625em;
}
/**fin cuarta section**/

/**Inicio Contacto**/
.contactme{
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4); 
    padding: 2.5em;
}
.form-contact{
    background-color: #E0AFA0;
    border-radius: 1.25em;
    display: flex;
    width: 70%;
    justify-content:center;
    margin: 0 auto;
}
.form-contact h1{
    font-size: 2.8125em;
}
.contactame{
    width: 30%;
    margin: 1.5625em;
    padding: 1.25em;
}
.contactme p{
    margin-top: 0.9375em;
    font-size: 1.3em;
}
.contactme a:hover{
    color: white;
}
.writeme{
    width: 30%;
    margin: 1.5625em;
    padding: 1.5625em;
    font-weight: bold;
}
.writeme p{
    font-size: 1.3em;
}
label{
    margin: 0.3125em;
}
input{
    border-radius: 1.25em;
    border:none;
    height: 1.875em;
    margin: 0.3125em;
    display: block;
}
.namer{
    display: flex;
    flex-direction: row;
}

::placeholder{
    padding: 1.25em;
}
input:focus{
    box-shadow: 0px -7px 6px 2px rgba(255, 255, 255, 0.45);
    outline: none;
}
textarea{
    border-radius: 1.25em;
    border:none;
    margin: 0.3125em;
    display: flex;
    flex-direction: column;
}
textarea::placeholder{
    font-family: 'Courier New', Courier, monospace;
}
textarea:focus{
    box-shadow: 0px -7px 6px 2px rgba(255, 255, 255, 0.45);
    outline-style: none;
}
.socialmedia{
    display: flex;
    flex-direction: column;
    
}
.social:hover i{
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.5em;
    color: black;
    line-height: 2.1875em;
    margin-right: 0.525em;
    text-align: center;
    display: inline-block; 
}
.fab, .far{
    font-size: 1.5em;
    margin-right:1.25em;
    color: white;
   
}
.btn{
    background-color: white;
    color: black;
    width: 6.25em;
    height: 3.125em;
    padding: 0.3125em 1.875em;
    border: none;
    margin: 0.3125em;
}
/*** Fin Contacto - formulario ***/

/*** Footer ***/
footer{
    background-color:#8A817C;
    text-align: center;
    padding: 1.875em;
    box-shadow:inset -7px 0px 5px 0px rgba(0,0,0,0.4);}
.icons ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.icons li{
    margin: 0;
}
.icons i{
    width: 2em;
    height: 2em;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.5em;
    color: black;
    line-height: 2.0875em;
    text-align: center;
    margin: -0.125em;
}
.icons i:hover{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: black 1px solid;
    font-size: 1.5em;
    text-align: center;
    background-color: transparent;
}
.madeby{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

/********* MEDIA QUERY **********/
@media (max-width: 1100px){
    header{
        visibility: hidden;
    }
    .primera{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .imagen-1{
        width: 25em;
        display: flex;
        align-self: center;
    }
    .writeme{
        width: 100%;
    }
    .social i{
        font-size: 1em;
    }
    .cuarta .grilla-proyecto{
        width: 100%;
        align-content: center;
        padding-left: 0px;
    }
    
}
@media (max-width: 900px){
    .segunda{
        display: flex;
   
        padding: 1.875em;
    }
    .icon-conocimientos{
        width: 30%;
    }
    .cuarta{
        display: flex;
        padding: 1.875em;
    }
    .grilla-proyecto{
        justify-content: center;
    }
    .icon-proyect{
        width: 30%;
    }
    .form-contact{
        flex-direction: column;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .contactame{
        width: 80%;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .writeme{
        width: 80%;
        text-align: center;
        justify-content: center;
    }
    form  div{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px){
    .form-contact{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .contactame{
        width: 80%;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .writeme{
        width: 80%;
        
        text-align: center;
        justify-content: center;
    }
    form  div{
        display: flex;
        justify-content: center;
    }
 
}
@media (max-width: 750px){
    .primera .boton{
        width: 0.9375em;
        padding: 0.9375em;
    }
}

@media (max-width: 600px){
    .primera .boton{
        width: 0.9375em;
        padding: 0.9375em;
    }
    footer .menu{
        visibility: hidden;
    }
}
@media (max-width:510px){
    .primera .boton{
        width: 0.9375em;
        padding: 0.7375em;
    }
    footer .menu{
        visibility: hidden;
    }
    .segunda .grilla{
        flex-direction: column;
    }
    .icon-conocimientos{
        width: 80%;
    }
    .cuarta .grilla-proyecto{
        flex-direction: column;
        margin-left: 15px;
    }
        .icon-proyect{
        width: 70%;
    }
    form .namer{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px){
    .primera{
        max-width: 100%;
        font-size: 12px;
        margin: 0px;
        padding: 23px;
    }
    .primera .presentacion h1 , p{
        margin-left: -50px;
    }
    .primera .boton{
        width: 0.625em;
        padding: 0.3125em 0.625em;
        margin-left: -50px;
    }
    .segunda{
        max-width: 100%;
        font-size: 0.75em;
    }
    .tercera{
       max-width: 100% ;
    }
    .tercera{
        font-size: 20px;
        text-align:right;
    }
    .cuarta{
        font-size: 0.75em;
        max-width: 100%;
    }
    .contactme{
        max-width: 100%;
    }
    .writeme .name{
        display: flex;
        flex-direction: column;
    }
    .writeme .surname{
        display: flex;
        flex-direction: column;
    }
    .writeme .email{
        display: flex;
        flex-direction: column;
    }
    .message{
        display: flex;
        flex-direction: column;
    }
    footer{
        max-width: 100%;
    }
    footer .menu{
        visibility: hidden;
    }
}